---
import * as path from "path";
import { DateTime } from "luxon";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import PublicNoteLink from "../components/PublicNoteLink.astro";

let posts = await Astro.glob("../pages/public-notes/**/*.md"); // returns an array of posts that live at ./src/pages/post/*.md
posts = posts
  .filter((post) => !post.file.includes("README.md"))
  .map((post) => {
    post.frontmatter.title = post.frontmatter.title || path.basename(post.file);
    return post;
  })
  .sort((a, b) =>
    a.frontmatter == b.frontmatter.received
      ? 0
      : a.frontmatter > b.frontmatter.received
      ? 1
      : -1
  );

const tags = posts
  .map((p) => p.frontmatter.tags)
  .filter((tag) => tag)
  .flat()
  .map((tag) => tag.trim())
  .sort()
  .filter((tag, pos, _array) => !pos || tag != _array[pos - 1]);

// console.debug(DateTime("05/02/69 1:02:03 PM -05:00", "MM/DD/YY H:mm:ss A Z"));
// console.debug("Thursday, 13 Oct 2022 at 14:10 UTC".split(",")[1].trim());
// console.debug(
//   dayjs("Thursday, 13 Oct 2022 at 14:10 UTC".split(",")[1].trim()),
//   "D MMM YYYY at HH:mm"
// );
---

<Layout title="Sengebord public notes.">
  <main>
    <div class="grid grid-cols-2 gap-8">
      <div>
        Tags:
        <ul>
          {tags.map((tag) => <li>{tag}</li>)}
        </ul>
      </div>
      <div class="">
        <div>Latest 10 notes</div>
        <div>
          {posts.slice(0, 10).map((post) => <PublicNoteLink post={post} />)}
        </div>
      </div>
    </div>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
