---
import * as path from "path";
import { DateTime } from "luxon";

import Layout from "../layouts/Layout.astro";

import PublicNoteLink from "../components/PublicNoteLink.astro";

let posts = await Astro.glob("../pages/notes/**/*.md"); // returns an array of posts that live at ./src/pages/post/*.md
posts = posts
  .filter((post) => !post.file.includes("README.md"))
  .map((post) => {
    post.frontmatter.title =
      post.frontmatter.title || path.basename(post.file).slice(0, -3);
    return post;
  })
  .sort((a, b) =>
    a.frontmatter == b.frontmatter.received
      ? 0
      : a.frontmatter > b.frontmatter.received
      ? -1
      : 1
  );

const tags = posts
  .map((p) => p.frontmatter.tags)
  .filter((tag) => tag)
  .flat()
  .map((tag) => tag.trim())
  .sort()
  .filter((tag, pos, _array) => !pos || tag != _array[pos - 1]);

// console.debug(DateTime("05/02/69 1:02:03 PM -05:00", "MM/DD/YY H:mm:ss A Z"));
// console.debug("Thursday, 13 Oct 2022 at 14:10 UTC".split(",")[1].trim());
// console.debug(
//   dayjs("Thursday, 13 Oct 2022 at 14:10 UTC".split(",")[1].trim()),
//   "D MMM YYYY at HH:mm"
// );
---

<Layout title="Sengebord public notes.">
  <main>
    <div class="flex justify-around">
      <div>
        <ul>
          {
            tags.map((tag) => (
              <li>
                <a href={`/tags/${tag}`}>#{tag}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="">
        <div>Latest 10 notes</div>
        <p>
          {
            posts.slice(0, 10).map((post) => (
              <p>
                <PublicNoteLink post={post} />
              </p>
            ))
          }
        </p>
      </div>
    </div>
  </main>
</Layout>
